#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav ,a{
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
    box-sizing: 100px
}
#background {
    height: 725px;
}
body{
    background-color: pink;
    margin: 0;
    padding: 0;
}
header{
    background-color: green;
}
nav a:hover{
    background-color: rgba(21, 46, 3, 0.7);
    color: pink;
}
.book, .join{
    background-color: black;
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    
}
.book:hover, .join:hover{
    background-color: black;
    color: whitesmoke;
}
#background{
    background-color: whitesmoke;
}
.msg{
    background-color: brown;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: purple;
}
.home-title{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font: size 2em;
    margin-top: 10px;
}
h4{
    color: aquamarine;
}
.msg h2{
    color: blueviolet;
}
.msg p{
    color: brown;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    color: aliceblue;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: azure;
    text-decoration: none;
}
footer a:hover{
    color: aquamarine;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.card-img{
   border:10px solid black ;
}